<%- include('partials/head') %>   
    <title>Blog Away</title>
</head>
<body>
<%- include('partials/nav') %>
<div class="container">
    <div class="author">
        <h2 class="authorHeading">  Dreaming in code, designing for tomorrow</h2>
    </div>
    <div style="text-align: center;">
        <img class="imgCoffee" src="/img/laptopDosPlant3.png" alt="laptop and Coffee" />
    </div>
    <div style="margin-top: 100px; width:70%; margin-left: auto; margin-right: auto;">
        <form action="/search/?page=index" method="post">            
                <input type="text" class="form-control searchInput" name="searchTerm" placeholder="search....">
                                  
        </form>
    </div>
   


    <h3 class="articalHeading">Latest Post</h2>
    <div class="articaleGrid"> 
        <% if (allPostData.length=== 0){%>
            <p>No Post available, please click on Add Post button</p>
        <% } %>
        <% for(let el of allPostData){%>
                <div class="articleGrid-item articleTitle">   
                    <a href="/readBlog/<%= el._id %>" > <%= el.blogTitle %>  </a>                                                 
                </div> 
                <div>
                     <p class="articleGrid-item"> <%= el.blogAuthor %> </p>
                </div>
                <div class="articleGrid-item  createOndt">                     
                    <p><%= new Intl.DateTimeFormat('en-US', { day: 'numeric', month: 'short', year: 'numeric' }).format(el.createdOn) %></p> 
                </div>        
        <%}%>
    </div>
        <% if (nextPage !==null){%>
            <a href="/?page=<%= nextPage %>" class="pagination">&lt; View older posts</a>
        <% } %>
    </div>

<%- include('partials/end') %>