<%- include('partials/head') %>   
    <title>Blog Away</title>
</head>
<body>
<%- include('partials/nav') %>
<div class="container" >    
    <h2><%= data.blogTitle %></h2>
    <h4>Author : <%= data.blogAuthor %></h4>
   
    <p> <%= data.blogContent %></p>
</div>
<%- include('partials/end') %>