<%- include('partials/head') %>   
    <title>Blog Away</title>
</head>
<body>
<%- include('partials/nav') %>
<div class="container">
    <h3 class="articalHeading">Serach Result</h2>
    <div class="articaleGrid"> 
        <% if (allPostData.length=== 0){%>
            <p>No Post available</p>
        <% } %>
        <% for(let el of allPostData){%>
                <div class="articleGrid-item articleTitle">   
                    <a href="#"> <%= el.blogTitle %> </a>                                                 
                </div> 
                <div class="articleGrid-item  createOndt">                     
                    <p><%= new Intl.DateTimeFormat('en-US', { day: 'numeric', month: 'short', year: 'numeric' }).format(el.createdOn) %></p> 
                </div>        
        <%}%>
    </div>
</div>

<%- include('partials/end') %>